<mat-toolbar color="white">
  <button
    mat-icon-button
    aria-label="Menu icon"
    *ngIf="isMobile"
    (click)="toggleMenu()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="main">
    <span class="main__read">Read</span><span class="main__me">Me</span>
  </h1>
</mat-toolbar>
<mat-sidenav-container autosize>
  <mat-sidenav
    [ngClass]="!isCollapsed ? 'expanded' : ''"
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="isMobile ? 'false' : 'true'"
  >
    <mat-nav-list>
      <div class="navList">
        <a mat-list-item *ngFor="let link of navmenu">
          <span class="entry">
            <img [src]="link.image" [alt]="link.alt" />
            <span *ngIf="isCollapsed">{{ link.name }}</span>
          </span>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
